
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Orbitron:wght@400..900&family=Exo:wght@100..900&family=Merriweather:wght@300..900&display=swap');

:root {
  --negro: #000000;
  --rojo: #096ce5af;
  --gris-claro: #ffffff;
  --gris-oscuro: #aaaaaa;
  --degrade: linear-gradient(to bottom, #000000, #363434, #a19a9a);

  --fuente-base: "Merriweather", serif;
  --fuente-acento: "Orbitron", sans-serif;
  --fuente-secundaria: "Montserrat", sans-serif;
  --fuente-extra: "Exo", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.detalles {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.vistas,
.vistasc {
  background-color: var(--negro);
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
  font-size: 1.3rem;
  color: white;
}


.puntos {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.punto {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.punto.active,
.punto:hover {
  background-color: white;
}

.punto.active {
  transform: scale(1.3);
}


.carro-principal {
  text-align: center;
  padding: 1rem;
  background: transparent;
  position: relative;
  top: -90px;
}

.modelo {
  font-family: var(--fuente-base);
  font-size: 5rem;
  color: var(--gris-claro);
  text-shadow: 0 0 10px var(--rojo);
  position: relative;
  top: 100px;
  z-index: 2;
  margin-bottom: -10px;
}

.img-carro {
  max-width: 70%;
  height: auto;
  filter: drop-shadow(0 0 5px var(--rojo));
  transition: transform 0.3s ease;
}

.img-carro:hover {
  transform: scale(1.03);
}


.vistasc .vista1,
.vistasc .vista2,
.vistasc .vista3 {
  display: flex;
  gap: 16vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: var(--fuente-secundaria);
}

.vista2 {
  flex-direction: row-reverse;
}

.vistasc .vista3 {
  gap: 8vw;
}

.vistasc img {
  width: 40vw;
  max-width: 50%;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.vistasc img:hover {
  transform: scale(1.05);
  padding-bottom: 20px;
}

.text {
  max-width: 500px;
  font-size: 1.1rem;
  color: var(--gris-claro);
  text-align: justify;
}

.datos-kilometraje {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numero {
  text-align: center;
  font-size: 6rem;
  font-family: var(--fuente-acento);
  font-weight: bold;
  color: #222;
  min-width: 300px;
}

.unidad {
  font-size: 1.2rem;
  color: #666;
  margin-top: -0.5rem;
}


.contenido-tecnico,
.contenido-caracteristicas {
  text-align: center;
  max-width: 500px;
  color: var(--gris-oscuro);
}

.contenido-tecnico h3,
.contenido-caracteristicas h3 {
  color: var(--gris-claro);
  font-family: var(--fuente-extra);
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1vh;
}

.titulo-espec {
  font-size: 0.75rem;
  color: var(--gris-oscuro);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.valor-espec {
  font-family: var(--fuente-extra);
  font-weight: 400;
  font-size: 0.9rem;
}

.categoria {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
    margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.caracteristicas-lista {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.caracteristica-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.caracteristica-item i {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.6rem;
}

.caracteristica-item span {
  font-size: 1rem;
  color: #555;
}

.caracteristica-item:hover {
  transform: scale(1.05);
}

