@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
:root {
    --negro: #0d0d0d;
    --rojo: #096ce5af;
    --gris-claro: #ffffff;
    --gris-oscuro: #aaaaaa;
    --degrade: linear-gradient(to bottom, #000000, #363434, #a19a9a);
    --fuente: 'Orbitron', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--degrade);
    color: var(--gris-claro);
    font-family: Arial, sans-serif;

}

header {
    color: white;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    height: 12vh;
    padding: 20px 150px;
    gap: 3vw;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    background: none;
    overflow-x: hidden;
    box-sizing: border-box;
}


#btnMenu {
    font-size: 1rem;
    top: 20px;
    left: 20px;
    font-size: 1rem;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 999;
}

.sideMenu {
    position: fixed;
    top: 12vh;
    left: -300px;
    width: 300px;
    height: 100vh;
    background: #1c1c1cb7;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
    border-radius: 10px;
}

.sideMenu.open {
    left: 0;
}

.sideMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sideMenu li {
    padding: 20px 10px;
    cursor: pointer;
    position: relative;
}

.sideMenu li:hover {
    background-color: #333333be;
}

/* Submenú tipo galería */
.has-submenu:hover .submenu-galeria {
    opacity: 1;
    visibility: visible;
}

.has-submenu {
    position: relative;
}

.submenu-galeria {
    position: fixed;
    top: 12vh;
    left: 300px;
    width: 350px;
    height: 100%;
    background: #222;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: all 0.3s ease;
    visibility: hidden;
    z-index: 2000;
    border-radius: 10px;
}

.submenu-galeria a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.submenu-galeria img {
    width: 80px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.submenu-galeria img:hover {
    transform: scale(1.05);
}

.logo {
    width: 140px;
    height: auto;
    cursor: pointer;
}

.fi {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
}







.detalles {
    padding-top: 100px;
}

.carro-principal {
    text-align: center;
    padding: 1rem 1rem;
    background: var(--negro);
    background: transparent;
    position: relative;
    top: -90px;
}

.modelo {
    font-family: var(--fuente);
    font-size: 5rem;
    color: var(--gris-claro);
    text-shadow: 0 0 10px var(--rojo);
    position: relative;
    top: 220px;
    z-index: 2;
    margin-bottom: -10px;
}

.img-carro {
    max-width: 90%;
    height: auto;
    filter: drop-shadow(0 0 20px var(--rojo));
    transition: transform 0.3s ease;
}

.img-carro:hover {
    transform: scale(1.03);
}

.vistas-carro {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 150px;

}

.vistas-carro .vista1,
.vistas-carro .vista2,
.vistas-carro .vista3 {
    display: flex;
    gap: 16vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
}

.vista2 {
    flex-direction: row-reverse;
}

.vistas-carro img {
    width: 40vw;
    max-width: 500vw;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */
}

.vistas-carro img:hover {
    transform: scale(1.05);
    /* box-shadow: 0 0 20px var(--rojo); */
    padding-bottom: 20px;
}

.text {
    max-width: 500px;
    font-size: 1.1rem;
    color: var(--gris-claro);
    text-align: justify;
}

.numero {
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

