<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title> LUNE - Catalogo Carros</title>

		<link rel="stylesheet" href="/public/css/index.css" /> <!--Estilos globales-->
		<link rel="stylesheet" href="/public/css/style-catalogo.css" />

		<script src="/public/js/script-catalogo.js"></script>

	</head>
	<body>
		
  		<main>

			<aside class="aside aside-vehiculo">
				<ul>
					<h3 class="h3 h3-sub_titulo_aside">CARROS</h3>
					<li class="li li--hover" data-tipo="Sedán">
						<span>Sedan</span>
					</li>
					<li class="li li--hover" data-tipo="Todoterreno">
						<span>Todoterreno</span>
					</li>
					<li class="li li--hover" data-tipo="Deportivo">
						<span>Deportivos</span>
					</li>
					<li class="li li--hover" data-tipo="SUV / Familiar">
						<span>SUV / Familiar</span>
					</li>
					<li class="li li--hover" data-tipo="Eléctrico">
						<span>Electrico</span>
					</li>
				</ul>
			</aside>

			<aside class="aside aside--modelos" id="aside-modelos">
				<!-- Aquí se mostrarán los modelos -->
			</aside>

			<section class="section vista-previa" id="vista-previa">
				<!-- se renderiza con al script-catalog.js  -->
			</section>

		</main>

	</body>
</html>
