<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LUNE - Catálogo Carros</title>

        <!-- Estilos globales -->
        <link rel="stylesheet" href="/styles/globals.css" />
        <!-- Estilos específicos del catálogo -->
        <link rel="stylesheet" href="/styles/style-catalogo.css" />

        <!-- Script del catálogo de carros -->
        <script src="/javaScript/catalogo-carros.script.js" defer></script>
    </head>
    <body>
        <main>
            <!-- Aside de tipos de carros -->
            <aside class="aside aside-vehiculo">
                <ul>
                    <h3 class="h3 h3-sub_titulo_aside">CARROS</h3>
                    <li class="li li--hover" data-tipo="Sedán" data-vehiculo="carro">
                        <span>Sedán</span>
                    </li>
                    <li class="li li--hover" data-tipo="Todoterreno" data-vehiculo="carro">
                        <span>Todoterreno</span>
                    </li>
                    <li class="li li--hover" data-tipo="Deportivo" data-vehiculo="carro">
                        <span>Deportivo</span>
                    </li>
                    <li class="li li--hover" data-tipo="SUV / Familiar" data-vehiculo="carro">
                        <span>SUV / Familiar</span>
                    </li>
                    <li class="li li--hover" data-tipo="Eléctrico" data-vehiculo="carro">
                        <span>Eléctrico</span>
                    </li>
                </ul>
            </aside>

            <!-- Aside donde se mostrarán los modelos según el tipo -->
            <aside class="aside aside--modelos" id="aside-modelos">
                <!-- Aquí se mostrarán los modelos -->
            </aside>

            <!-- Sección de vista previa del modelo seleccionado -->
            <section class="section vista-previa" id="vista-previa">
                <!-- Se renderiza con el script -->
            </section>
        </main>
    </body>
</html>