<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUNE</title>

    <link rel="stylesheet" href="/styles/globals.css" />
</head>
<body>
    <h1>LUNE</h1>
    <nav>
        <ul>
            <li>
                <a href="/catalog-motorbike">Catalogo de motos</a>
            </li>
            <li>
                <a href="/catalog-car">Catalogo de carros</a>
            </li>
        </ul>
    </nav>
</body>
</html>