<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LUMNI - Iniciar sesion</title>

		<link rel="stylesheet" href="/styles/globals.css" />
		<link rel="stylesheet" href="/styles/form.css" />
	</head>
	<body>
		<main class="main main--bg">
			<div class="div--img-bg-form">
				<img
					src="/assets/images/bansBgLayers/P90243329_highRes_the-bmw-6-series-cou.jpg"
					alt=""
					class="img-bg-form"
				/>
			</div>
			<div class="background">
				<section class="section section--paragraph">
					<h2>IINICIAR SESION</h2>

					<h3>
						SI AUN NO TIENES CUENTA PUEDES
						<a href="/register" class="a a-color">REGISTRARTE</a>
					</h3>
				</section>

				<form action="/api/login" method="POST" id="loginForm" class="form">
					<label for="email">E-mail</label>
					<input required type="email" name="email" id="email" />

					<label for="password">Contraseña</label>
					<input
						required
						type="password"
						name="password"
						id="password"
					/>

					<button type="submit" class="button">Iniciar sesión</button>
				</form>
			</div>
		</main>
		<script src="/javaScript/form.script.js" defer></script>
	</body>
</html>
