@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

:root{
    max-width: 100vw;
    margin: 0 auto;
    /* Fonts */
    --fondo: #0a0a0a;
    --fondo-chat: #1c1c1c;
    --color-texto: #e6e6e6;
    --color-acento: #a6b3b4;
    --radio: 20px;
    --espaciado: 16px;
    --negro: #000000;
    --rojo: #096ce5af;
    --gris-claro: #ffffff;
    --gris-oscuro: #aaaaaa;
    --degrade: linear-gradient(to bottom, #000000, #363434, #a19a9a);
    --bg-gradient-form: linear-gradient(115deg,rgba(42, 123, 155, 0) 50%, rgb(0, 0, 0) 50%);
    --bg-hover-button: radial-gradient(circle,#096ce5af 50%, #17509664 100%);
    --bg-principal: #000000;
    --secondaru-color: #096ce5af;
    --text-color: #fff;

    --fuente-base: "Merriweather", serif;
    --fuente-acento: "Orbitron", sans-serif;
    --fuente-secundaria: "Montserrat", sans-serif;
    --fuente-extra: "Exo", sans-serif;
    ---fuente-arco: "Istok Web", sans-serif;
    --font-exo: 'Exo', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --fuente: 'Montserrat', sans-serif;
    --fuenteCursiva: "Merriweather", serif;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-montserrat);
    color: var(--text-color);
}

body{
  background: var(--bg-principal);
}

main{
  display: flex;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-exo);
    font-weight: 500;
    color: var(--text-color);
}

img{
  width: auto;
  height: 100%;
}

a{
  color: #40a6c5;
  font-family: var(--font-montserrat);
}

.button{
  background: #40a6c57c;
  color: #1a1a1a;
  border: none;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;

  &:hover{
    background: var(--bg-hover-button);
    color: var(--text-color);
  }
}   

/* HEADER */
header {
  max-width: 100vw;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  height: 12vh;
  padding: 20px 150px;
  gap: 3vw;
  justify-content: space-between;
  position: absolute;
  z-index: 300;
  background: none;
  box-sizing: border-box;
}


#btnMenu {
  font-size: 1rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 19;
  padding: 0;
  transform: translateZ(0);
}


#btnMenu:hover {
  background-color: #5c5757b7;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sideMenu {
  position: fixed;
  top: 12vh;
  left: -300px;
  width: 300px;
  min-height: 42vh;
  background: #1c1c1c;
  padding: 30px;
  transition: left 0.3s ease;
  z-index: 300;
  border-radius: 10px;
  color: white;
}

.sideMenu.open {
  left: 0;
}

.sideMenu ul {
  list-style: none;
  padding: 2vh 0 0 5vh;
  margin: 0;
  text-align: left;
}

.sideMenu li {
  padding: 22px 10px;
  cursor: pointer;
  position: relative;
}

.sideMenu li:hover {
  background-color: #333333be;
}

.sideMenu a {
  text-decoration: none;
  color: inherit;
  /* hereda el color del <li> */
  display: block;
  /* para que se comporte como caja completa */
}

/* Submenú tipo galería */
.has-submenu:hover .submenu-galeria {
  opacity: 1;
  visibility: visible;
}

.has-submenu {
  position: relative;
}

.submenu-galeria {
  position: fixed;
  top: 12vh;
  left: 300px;
  width: 300px;
  min-height: inherit;
  background: #1c1c1c;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: all 0.3s ease;
  visibility: hidden;
  z-index: 300;
  border-radius: 10px 0;
}

.submenu-galeria img {
  max-width: 17vh;
  transition: transform 0.3s;
}

.submenu-galeria img:hover {
  transform: scale(1.05);
}



.logo {
  width: 140px;
  height: auto;
  cursor: pointer;
}

.fi {
  cursor: pointer;
  color: white;
  font-size: 1.7rem;
}

/*FOOTER*/
footer {
  padding: 50px 150px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  text-align: center;
  font-size: 1.3rem;
}

.logosFooter {
  display: flex;

  justify-content: space-between;
  padding: 0 100px;
}

.logo {
  display: flex;
  gap: 2vh;
}

.infoFooter button {
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  background-color: #053facda;
  color: white;
  border-radius: 5px;
}

.infoFooter p {
  margin: 2vh;
}

hr {
  border: none;
  height: 3px;
  background-color: #3f4447c2;
}