main {
    display: flex;
}
body{
    background-color: #0a0a0a;

}
aside {
    background: #1c1c1cb7;
    width: 250px;
      margin-top: 12vh;
    padding: 20px;
    max-height: 80vh;
    height: 80vh;
    font-size: 1rem;
}

aside.aside-vehiculo {
    z-index: 200;
 
    box-shadow: 10px 0px 15px -1px #17161699;
    -webkit-box-shadow: 10px 0px 15px -1px #0c0c0cf8;
    -moz-box-shadow: 10px 0px 15px -1px #17161699;
}

/* aside.aside--modelos {
    padding-top: 100px;

} */

h3.h3-sub_titulo_aside {
    font-size: 1.5rem;
    margin: 10px 0;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

li.li {
    color: #8a8585;
    padding: 0px 10px 10px;
    width: fit-content;
}

li:hover {
    cursor: pointer;
    color: #fff;
    padding-left: 25px;
    scale: 1.1;
}

li.li.activo {
    color: #fff;
    padding-left: 25px;
    scale: 1.1;
    transition: 0.2s;
    font-weight: 600;

}

.modelo-li {
    color: #8a8585;
    padding: 0px 10px 10px;
    width: fit-content;
    transition: 0.2s;
}

.modelo-li:hover,
.modelo-li.activo {
    cursor: pointer;
    color: #fff;
    padding-left: 25px;
    scale: 1.1;
    font-weight: 600;
}

/*  Vista previa */

/* CONTENEDOR SECCION COMPLETA vista-previa */
.section.vista-previa {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    max-height: 80vh;
}

/* Titulo vista previa */
h2.titulo-vista-previa {
    font-size: 2rem;
    color: #fff;
    margin: 10px 0;
    text-align: center;
}


/* Contenedor imagen */
.img-vista-previa-contenedor{
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        scale: 1.1;
        transition: 0.2s;
    }
}

/* Boton vista previa */
.btn-ver-mas {
    display: inline-block;
    padding: 8px 16px;
    background: #333;
    color:
        #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    width: fit-content;
}
