<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUNE</title>
     <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
     <link rel="stylesheet" href="..//styles/index.css">
</head>
<body>
    <header>
      <img class="logo" src="../assets/images/logo lune.png" alt="LUNE">
      <div class="menu">
        <p>Modelo carros</p>
        <p>Modelo motos</p>
        <p>Galeria</p>
        <p>Contacto</p>
        <p>Acerca de</p>
      </div>
      <i class="fi fi-rr-messages"></i>
    </header>
</body>
</html>