<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre nosotros</title>
  <link rel="stylesheet" href="../styles/menu.css">
  <link rel="stylesheet" href="../styles/index.css">
  <link rel="stylesheet" href="../styles/chatbot2.css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css">

</head>

<body>
  <header>
    <button id="btnMenu">☰ Menú</button>
    <a href="../index.html"> <img class="logo" src="../assets/images/logo lune.png" alt="LUNE" /></a>
    <i class="fi fi-rr-messages" onclick="mostrarChat()"></i>


    <nav class="sideMenu" id="sideMenu">
      <ul>
        <li class="has-submenu">
          Nuestros modelos
          <div class="submenu-galeria">
            <h3 class="title-catalogo">Catalogo Carros</h3>
            <a href="#"><img src="../assets/images/coche-3d-con-fondo-simple.jpg" alt="" /></a>
            <h3 class="title-catalogo">Catalogo Motos</h3>
            <a href="#"><img src="../assets/images/coche-3d-con-fondo-simple.jpg" alt="" /></a>
          </div>
        </li>
        <li><a href="menu-proximo.html">Próximos modelos</a></li>
        <li><a href="#">Agenda tu asesoría</a></li>
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="accesorios.html">Accesorios Originales</a></li>
      </ul>
    </nav>
  </header>
  <section id="sectionIA" class="oculto">
    <div class="titleIA">
      <p id="cerrarIA">X</p>
      <h2>¿Cómo puedo ayudarte?</h2>
    </div>
    <div id="chatBox">
      <!-- se agrega desde css con classname -->
    </div>
    <div class="respuesta">
      <input type="text" id="promptUsuario" placeholder="Escribe tu pregunta">

      <button onclick="sendPrompt()">➤</button>

    </div>
  </section>

  <section class="sec1-sn">
    <div class="divTitle">
      <h2>SOBRE NOSOTROS</h2>
      <P>Fundada en 2025, Automobiles LUNE tiene su sede en Armenia Quindio, donde fabrica algunos de los
        superdeportivos más emblemáticos y deseados del mundo. <br>
        Fácilmente reconocibles por sus líneas atrevidas y proporciones distintivas, su diseño se funde a la perfección
        con las innovaciones tecnológicas y las prestaciones de alto nivel de sus vehículos.
      </P>
    </div>
  </section>

  <section class="sec2-sn">
    <img src="../assets/images/motoRoja1.jpg" alt="">
    <p> <span>Misión</span> <br>
      Proveer soluciones de movilidad confiables y de alta calidad, acompañadas por un servicio personalizado que
      garantiza la satisfacción total de nuestros clientes. <br> <br>
      <span>Visión</span> <br>
      Ser reconocidos como líderes en la región, con un enfoque en innovación, servicio excepcional y un compromiso
      inquebrantable con la calidad, tanto en nuestros productos como en la atención que brindamos.
    </p>
  </section>

  <section class="sec3-sn">
    <div class="divMap">
      <div class="infoMap">
        <h2>VISÍTANOS</h2>
        <p>Automobiles Lune
          Cl. 19 Nte. #18N- 45, Armenia, Quindío, Colombia.
        </p>
        <a href="#">Agendar Asesoría</a>
      </div>
      <iframe src="https://www.google.com/maps?q=4.557662, -75.660475&z=15&output=embed" loading="lazy"></iframe>
    </div>
  </section>

  <footer>
    <div class="logosFooter">
      <div class="logo">
        <i class="fi fi-brands-facebook"></i>
        <p>FACEBOOK</p>
      </div>
      <div class="logo">
        <i class="fi fi-brands-instagram"></i>
        <p>INSTAGRAM</p>
      </div>
      <div class="logo">
        <i class="fi fi-brands-youtube"></i>
        <p>YOUTUBE</p>
      </div>

      <div class="logo">
        <i class="fi fi-brands-twitter"></i>
        <p>X</p>
      </div>
    </div>
    <hr>
    <div class="infoFooter">
      <h2>Contacto</h2>
      <p>Asesoramiento o compra</p>
      <button>¡Contáctanos!</button>
    </div>
    <hr>

    <div class="copyright">
      <p>&copy 2025 Lune. Todos los derechos reservados <br>Sociedad de derecho Colombiano, con sede oficial en Armenia,
        Quindio. Inscrita en el registro mercantil colombiano con el numero 64060977</p>
    </div>
  </footer>

  <script src="../scripts/index.js"></script>
  <script src="../scripts/chatbot.js"></script>

</body>

</html>